#loginScreen_DivID { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px white dashed;
    background-color: var(--white-color);
}

#loginScreen_title_H1ID {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;    
    min-height: 100px;
}

#loginScreen_DivID .loginForm {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;   
    height: 50%; 
}

#loginScreen_DivID .loginForm div {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#loginScreen_DivID .loginForm div span{
    margin-right: 5px;
    width: 30%;
}

#loginScreen_DivID input {
    margin-left: 5px;
    font-size: 2rem; 
    height: 3rem;
}

